# Configs
/src/test/config.local.json

# IDE - Node.js
/node_modules/

# IDE - Python
*.pyc

# Build outputs
/src/manifest.json
/src/content/index.js
/src/content/index.js.map
/src/test/external/manifest.json
/dist/
