.gitattributes text eol=lf
.gitignore text eol=lf
*.html text eol=lf
*.xhtml text eol=lf
*.svg text eol=lf
*.mathml text eol=lf
*.css text eol=lf
*.js text eol=lf
*.js.map text eol=lf
*.json text eol=lf
*.txt text eol=lf
*.md text eol=lf
*.vtt text eol=lf
*.py text eol=lf
*.pyr text eol=lf
