#bg1 { background: url("bg1.bmp"); }
#neverused { background: url("neverused.bmp"); }

@font-face { font-family: bgFont1; src: url("font1.py"); }
@font-face { font-family: neverusedFont1; src: url("neverused.py"); }
