body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

#logger {
  margin: 0;
  padding: .5em;
  white-space: pre-wrap;
  word-break: break-all;
  font-family: unset;
}

.debug {
  color: gray;
}

.warn {
  color: #f0ad4e;
  font-weight: bold;
}

.error {
  color: red;
  font-weight: bold;
}

.critical {
  color: red;
  font-weight: bold;
}
