html {
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  /**
   * This doesn't work in Firefox < 53 due to a bug:
   * https://bugzilla.mozilla.org/show_bug.cgi?id=504622
   *
   * As a workaround, let it overflow and show a scroll at <html> when the
   * title is too long.
   */
  min-width: unset;
}

#toolbar {
  box-sizing: border-box;
  border-bottom: 1px solid #aaa;
  padding: 0.25em;
  min-width: 0;
  min-height: 1.5em;
  background-color: #ffffe1;
  display: flex;
  flex-direction: row;
}

#toolbar label {
  flex: 1;
  padding: 0.25em;
  min-width: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#toolbar input[type="image"] {
  padding: 0.25em;
  width: 16px;
  height: 16px;
}

#toolbar input[type="image"]:disabled {
  filter: grayscale(100%);
  opacity: 0.3;
}

#editor {
  flex: 1;
  box-sizing: border-box;
  border: none;
  width: 100%;
  min-height: 0;
  resize: none;
}
