html {
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#editor {
  flex: 1;
  box-sizing: border-box;
  border: none;
  width: 100%;
  min-height: 100px;
  resize: none;
}

#toolbar {
  border-top: 1px solid #aaa;
  padding: 0.25em;
  min-height: 1.5em;
  background-color: #ffffe1;
}

#toolbar button img {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

#toolbar button:disabled img {
  filter: grayscale(100%);
  opacity: 0.3;
}
