body {
  font-size: 16px;
  line-height: 1.35em;
}

#searchForm {
  display: flex;
  flex-direction: row;
  padding: .25em;
}

#searchForm *:disabled {
  filter: grayscale(100%);
  opacity: 0.3;
}

#keyword {
  flex: auto;
  min-width: 150px;
}

#helper {
  width: 2em;
}

#help {
  padding: .25em;
  font-size: .9em;
}

#help > div {
  white-space: pre-wrap;
}

#messages,
#result {
  margin: 0;
  padding: 0;
}

#messages {
  margin-top: 1em;
}

a {
  text-decoration: none;
  color: inherit;
}

a:focus {
  outline-style: auto;
  background-color: rgba(196, 221, 252, 1);
}

.warn {
  color: #f0ad4e;
}

.error {
  color: red;
}
