body {
  font-size: 16px;
  line-height: 1.35em;
}

#searchForm {
  display: flex;
  flex-direction: row;
  padding: .25em;
}

#searchForm *:disabled {
  filter: grayscale(100%);
  opacity: 0.3;
}

#keyword {
  flex: auto;
  min-width: 150px;
}

#result {
  margin: 0;
  padding: 0;
}

.warn {
  color: #f0ad4e;
}

.error {
  color: red;
}

.tree-search-captures {
  width: unset;
}

.tree-search-captures li > div {
  white-space: normal;
  overflow-wrap: break-word;
}

.tree-search-captures li > div:first-child {
  padding-left: 2.72em;
  text-indent: -1.36em;
}

.tree-search-captures li > div:first-child a:hover {
  background-color: rgba(196, 221, 252, .5);
}

.tree-search-captures li > div:first-child a:focus {
  outline-style: auto;
  background-color: rgba(196, 221, 252, 1);
}
