html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;
}

/* toolbar */
#toolbar {
  flex: 0 1 auto;
  border-bottom: 2px ridge #CCCCCC;
}

#toolbar fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}

#toolbar select {
  margin: 3px;
}

#book {
  float: __MSG_@@bidi_start_edge__;
  max-width: 10em;
}

#book option:first-child {
  font-weight: bold;
}

#command {
  float: __MSG_@@bidi_end_edge__;
  width: 2.8em;
}

/* logger */
#logger {
  flex: 0 1 auto;
  max-height: 200px;
  overflow: auto;
  white-space: pre-wrap;
  padding: 3px;
}

#logger .warn {
  color: #f0ad4e;
  font-weight: bold;
}

#logger .error {
  color: #d9534f;
  font-weight: bold;
}

/* dialog*/
#dialog-mask {
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 32, 32, 0.6);
}

#dialog-wrapper {
  position: relative;
  top: 5%;
  margin: auto;
  width: 80%;
  max-height: 85%;
  padding: 12px;
  background-color: #fcfcfc;
  overflow: auto;
}

#dialog-wrapper dl {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
}

#dialog-wrapper dl > div > dt {
  margin: 3px;
  font-weight: bold;
}

#dialog-wrapper dl > div > dd {
  margin: 3px;
}

#dialog-wrapper label {
  white-space: nowrap;
}

#dialog-wrapper input[type="text"],
#dialog-wrapper input[type="number"],
#dialog-wrapper textarea {
  box-sizing: border-box;
  width: 100%;
}

#dialog-wrapper input[type="text"][readonly] {
  background-color: #DDD;
}

#dialog-wrapper .buttons {
  float: __MSG_@@bidi_end_edge__;
  margin-top: 1em;
  padding: 3px;
}

#dialog-wrapper form.meta [name="comment"] {
  height: 20vh;
  min-height: 80px;
}

#dialog-wrapper form.meta dl > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
}

#dialog-wrapper form.meta dl > div > dt {
  flex: 1 0 6em;
}

#dialog-wrapper form.meta dl > div > dd {
  flex: 999 1 14em;
}

/* tree */
#items {
  flex: 1 1 auto;
  overflow: auto;
  position: relative;
  font-size: 16px;
  line-height: 1;
  font-family: sans-serif;
}

#items ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#items ul li {
  display: block;
  box-sizing: border-box;
  padding: .25em;
  padding-__MSG_@@bidi_start_edge__: 1em;
}

#items ul li ul {
  margin-top: .25em;
  margin-bottom: -.25em;
}

#items li > div {
  white-space: nowrap;
  padding: 1px 0;
  cursor: cell;
}

#items li > div::before {
  position: absolute;
  box-sizing: border-box;
  left: 0;
  right: 0;
  margin-top: -.25em;
  height: 1.5em;
  border-radius: 2px;
  content: "";
}

#items a {
  position: relative;
  z-index: 1;
  text-decoration: none;
  color: #000000;
}

#items a > img {
  display: inline-block;
  margin-left: .2em;
  margin-right: .2em;
  border: none;
  width: 1em;
  height: 1em;
  vertical-align: middle;
}

#items a.toggle {
  position: absolute;
  margin-__MSG_@@bidi_start_edge__: -1em;
}

#items a.toggle > img {
  margin: 0;
}

#items [data-type="bookmark"] > div > a {
  color: rgb(32,192,32);
}

#items [data-type="note"] > div > a {
  color: rgb(80,0,32);
}

#items [data-type="site"] > div > a {
  color: blue;
}

#items [data-type="separator"] > div > fieldset {
  position: relative;
  z-index: 1;
  margin: 0;
  border: none;
  border-top: 1px solid #aaa;
  padding: 0 0 0 1em;
  text-indent: 0;
}

#items [data-type="separator"] > div > fieldset > legend {
  padding: 0;
  height: 1em;
}

#items [data-marked] > div > a {
  font-weight: bold;
}

#items .highlight::before {
  border: 1px solid #7DA2CE;
  background: linear-gradient(#EBF4FD, #C4DDFC);
}

#items .dragged {
  opacity: 0.5;
}

#items .dragover::before {
  z-index: -1;
}

#items .dragover.above {
  border-top: 2px solid #3399FF;
  padding-top: 0;
  padding-bottom: 0;
}

#items .dragover.below {
  border-bottom: 2px solid #3399FF;
  padding-top: 0;
  padding-bottom: 0;
}

#items .dragover.within {
  outline: 2px dashed #3399FF;
}
