button {
  display: block;
  outline: none;
  border: none;
  background: none;
  padding: 1px 3px;
  width: 100%;
  font-size: 14px;
  white-space: nowrap;
}

button:enabled:focus {
  outline: 1px solid rgba(125, 162, 206, 0.8);
  background: linear-gradient(rgba(235, 244, 253, 0.3), rgba(196, 221, 252, 0.8));
}

button:enabled:hover {
  background-color: rgba(202, 202, 202, 0.8);
}

button:enabled:active {
  background-image: radial-gradient(rgba(0, 0, 0, 0.9), rgba(64, 64, 64, 0.9));
  color: #FFFFFF;
}

button:disabled {
  filter: grayscale(100%);
  opacity: 0.3;
}

button[hidden] {
  display: none;
}

.sub {
  color: blue;
  text-decoration: underline;
}

.dragged-within #wrapper {
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
