button {
  display: block;
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  padding: 1px 3px;
  width: 100%;
  font-size: 14px;
  white-space: nowrap;
}

button[hidden] {
  display: none;
}

button:focus {
  outline: 1px solid rgba(125, 162, 206, 0.8);
  background: linear-gradient(rgba(235, 244, 253, 0.3), rgba(196, 221, 252, 0.8));
}

button:hover {
  background-color: #aaaaaa;
}

button:active {
  background-color: #000000;
  color: #FFFFFF;
}

.sub {
  color: blue;
  text-decoration: underline;
}
