#permissionsWrapper {
  position: sticky;
  z-index: 1;
  top: 0;
  max-height: 100vh;
  overflow-y: auto;
  background: white;
}

#permissionsWrapper details {
  margin-bottom: .5em;
  border: 1px solid #EEE;
  background: #FEE;
}

#permissionsWrapper details > summary {
  padding: .5em;
  background-color: #F11;
}

#permissionsWrapper details > div {
  margin: .5em;
  white-space: pre-wrap;
}

#optionsWrapper details {
  margin-bottom: .5em;
  border: 1px solid #EEE;
}

#optionsWrapper details > summary {
  padding: .5em;
  background-color: #CCC;
}

#optionsWrapper details > div {
  margin: .5em;
}

#optionsWrapper details > div > fieldset {
  margin: .75em 0;
  border: 0;
  padding: 0;
  min-width: unset;
}

#optionsWrapper details > div > fieldset > blockquote {
  margin: .5em 0;
  margin-inline-start: 1.5em;
  border: 0;
  padding: 0;
}

#optionsWrapper details > div > fieldset > blockquote:first-child {
  margin-top: 0;
}

#optionsWrapper details > div > fieldset > blockquote:last-child {
  margin-bottom: 0;
}

#optionsWrapper textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 120px;
  resize: vertical;
  word-break: break-all;
}

#actionsWrapper {
  margin-top: 0.75em;
}

#downloader {
  /* display: none; causes child a.click() not work in Firefox */
  visibility: hidden;
  position: absolute;
  border: none;
  width: 0;
  height: 0;
}

a[data-tooltip] {
  display: inline-block;
  color: unset;
  text-decoration: unset;
  width: 1em;
  height: 1em;
  background: url("../resources/help.svg") no-repeat;
  background-size: contain;
  cursor: help;
}

div.tooltip {
  margin: 0.5em;
  border-radius: 0.5em;
  padding: 0.5em;
  background-color: #CCCCEE;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}
