#actionsWrapper {
  margin-top: 0.75em;
}

fieldset {
  margin: 0.2em;
  padding: 0.2em;
}

#capture\.downLink div {
  margin: 0.5em 0.2em;
}

#capture\.downLink textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 80px;
}

#downloader {
  /* display: none; causes child a.click() not work in Firefox */
  visibility: hidden;
  position: absolute;
  border: none;
  width: 0;
  height: 0;
}
