body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

#dropmask {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100000;
  background-color: SkyBlue;
  opacity: 0.7;
}

#downloader {
  /* display: none; causes child a.click() not work in Firefox */
  visibility: hidden;
  position: absolute;
  border: none;
  width: 0;
  height: 0;
}

#panel {
  all: unset;
  display: block;
  padding: .5em 1em;
  background-color: grey;
  color: white;
  text-align: center;
}

#panel:disabled {
  filter: grayscale(100%);
  opacity: 0.3;
}

#panel div {
  margin-bottom: 0.5em;
  font-size: 1.25em;
  line-height: 1.5em;
}

#panel label:not([hidden]) {
  display: inline-block;
}

#panel label {
  margin: 0 .2em;
  padding: .4em 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #47A4A5;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

#logger {
  padding: .5em;
  white-space: pre;
}

#logger.wrap {
  white-space: pre-wrap;
}

.error {
  color: red;
  font-weight: bold;
}
